.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__image {
    object-fit: contain;
    widows: 180px;
    height: 180px;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__info > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a8874a;
    margin-top: 10px;
    color: #111;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}